.formulario {
  position:center;
  font-weight: 700;
  padding: 30vh;
  
 
  
}

.formulario_i{
  position: center;
  
  
}

.formulario_l {
  color: cornsilk;
  
}


.carrusel {
  width: 575px;
  height: 500px !important;
}

.menu {
  margin-right: 20vh;
}

.home {
  margin-bottom: 4vh;
}

body {
  background-color: black;
}

.container {
  margin-left: 3vh !important;
}


.tabla{
  border: rgb(253, 253, 253) 5px solid;
  color: white;

}